<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>MAGA - ShariaBlue Search Tool - Reddit Harassment Registry</title>
</head>
<body>
	<div class="page-header">
		<small class="pull-right">Site updated on March 8, 2017.</small>
  		<h1>ShariaBlue "CTR 2.0" Reddit Harassment Registry</h1>
	</div>

	<div>
		<h3>Background</h3>
		<p>Shareblue (<a href="https://np.reddit.com/r/SandersForPresident/comments/4fupos/paid_digital_astroturfing_effort_by_correct_the/" target="_blank">Correct The Record</a>) has allegedly created software to stalk, harass, and cyberbully users on Reddit. The criteria to be added to their <a href="https://redditenhancementsuite.com" target="_blank">RES</a> database is unknown, but several <a href="#leaks">leaks</a> of their list(s) have been recently discovered online.</p>
		<p>For more information about this project: <a href="https://github.com/chipew/res-search-tool/blob/master/README.md">README</a></p>
	</div>

	<div ng-app="searchApp" ng-controller="mainController as ctrl">
		<h3 id="search">Search</h3>
		<div>
			<p>Showing {{limitedUsers.length}} of {{ctrl.filteredUsers.length}} results ({{ctrl.users.length}} total).</p>
		</div>
		<div>
			<button ng-click="ctrl.resetSearch()" class="btn btn-default btn-reset pull-right">Reset Search</button>
			Filters:
			<div class="btn-group">
				<label class="btn btn-success" ng-model="ctrl.showVotes.na" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Votes NA</label>
				<label class="btn btn-success" ng-model="ctrl.showVotes.pos" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Votes &gt; 0</label>
				<label class="btn btn-success" ng-model="ctrl.showVotes.zero" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Votes = 0</label>
				<label class="btn btn-success" ng-model="ctrl.showVotes.neg" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Votes &lt; 0</label>
			</div>
			<div class="btn-group">
				<label class="btn btn-warning" ng-model="ctrl.showColors.fuchsia" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Fuchsia</label>
				<label class="btn btn-warning" ng-model="ctrl.showColors.red" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Red</label>
				<label class="btn btn-warning" ng-model="ctrl.showColors.na" ng-click="ctrl.filterUsers()" uib-btn-checkbox>Colorless</label>
			</div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td class="col-u">
						<a ng-click="ctrl.sortType = 'u'; ctrl.sortDirection = !ctrl.sortDirection; ctrl.updateSortDirection()">
						Username
						<span ng-show="ctrl.sortType == 'u' && !ctrl.sortDirection">▼</span>
						<span ng-show="ctrl.sortType == 'u' && ctrl.sortDirection">▲</span>
						</a>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input type="text" id="search-users" class="form-control sm" placeholder="Search Users" ng-change="ctrl.filterUsers()" ng-model="ctrl.searchUsers" ng-model-options="{ debounce: 200 }"
									autofocus>
								</div>
							</div>
						</form>
					</td>
					<td class="col-v">
						<a ng-click="ctrl.sortType = 'v'; ctrl.sortDirection = !ctrl.sortDirection; ctrl.updateSortDirection()">
						Votes
						<span ng-show="ctrl.sortType == 'v' && !ctrl.sortDirection">▼</span>
						<span ng-show="ctrl.sortType == 'v' && ctrl.sortDirection">▲</span>
						</a>
					</td>
					<td class="col-c">
						<a ng-click="ctrl.sortType = 'c'; ctrl.sortDirection = !ctrl.sortDirection; ctrl.updateSortDirection()">
						Color
						<span ng-show="ctrl.sortType == 'c' && !ctrl.sortDirection">▼</span>
						<span ng-show="ctrl.sortType == 'c' && ctrl.sortDirection">▲</span>
						</a>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control sm" placeholder="Search Colors" ng-change="ctrl.filterUsers()" ng-model="ctrl.searchColors" ng-model-options="{ debounce: 200 }"
									autofocus>
								</div>
							</div>
						</form>
					</td>
					<td class="col-t">
						<a ng-click="ctrl.sortType = 't'; ctrl.sortDirection = !ctrl.sortDirection; ctrl.updateSortDirection()">
						Tag
						<span ng-show="ctrl.sortType == 't' && !ctrl.sortDirection">▼</span>
						<span ng-show="ctrl.sortType == 't' && ctrl.sortDirection">▲</span>
						</a>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control sm" placeholder="Search Tags" ng-change="ctrl.filterUsers()" ng-model="ctrl.searchTags" ng-model-options="{ debounce: 200 }"
									autofocus>
								</div>
							</div>
						</form>
					</td>
					<td class="col-l">
						<a href="#" ng-click="ctrl.sortType = 'l'; ctrl.sortDirection = !ctrl.sortDirection; ctrl.updateSortDirection()">
						Link
						<span ng-show="ctrl.sortType == 'l' && !ctrl.sortDirection">▼</span>
						<span ng-show="ctrl.sortType == 'l' && ctrl.sortDirection">▲</span>
						</a>
						<form>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control sm" placeholder="Search Links" ng-change="ctrl.filterUsers()" ng-model="ctrl.searchLinks" ng-model-options="{ debounce: 200 }"
									autofocus>
								</div>
							</div>
						</form>
					</td>
					<td class="col-s">
						<a>
						Source
						</a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in ctrl.filteredUsers | limitTo: 100 as limitedUsers">
					<td ng-class="{ctr:user.v>0, tgt:user.v<0}"><a href="https://np.reddit.com/u/{{ user.u }}">{{ user.u }}</a></td>
					<td ng-class="{na:user.v===undefined, ctr:user.v>0, tgt:user.v<0}" class="num">{{ user.v.toString() }}</td>
					<td ng-class="{na:!user.c}" style="background: {{user.c}}">{{ user.c }}</td>
					<td ng-class="{na:!user.t}">{{ user.t }}</td>
					<td ng-class="{na:!user.l}"><a ng-if="user.l" href="https://np.reddit.com{{ user.l }}">{{ user.l }}</a></td>
					<td>{{ user.s }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="leaks">
		<h3>Leaks</h3>
		<ol>
			<li><a href="https://paste.ee/p/PoQRk" target="_blank">https://paste.ee/p/PoQRk</a>, 02-13-17</li>
			<li><a href="https://pastebin.com/3TGm0SSF" target="_blank">https://pastebin.com/3TGm0SSF</a>, 02-28-17</li>
			<li><a href="https://pastebin.com/SLUKQGDW" target="_blank">https://pastebin.com/SLUKQGDW</a>, 02-04-17</li>
			<li><a href="https://pastebin.com/22r3xEUn" target="_blank">https://pastebin.com/22r3xEUn</a>, 01-11-17</li>
			<li><a href="https://pastebin.com/C6pyAQ2P" target="_blank">https://pastebin.com/C6pyAQ2P</a>, 01-10-17</li>
			<li><a href="https://pastebin.com/pxFrZaPu" target="_blank">https://pastebin.com/pxFrZaPu</a>, 01-02-17</li>
		</ol>
	</div>
	<div class="footer">
		<center>MAGA.</center>
	</div>

	<link rel="stylesheet" href="https://unpkg.com/bootswatch@3.3.7/united/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/angular-ui-bootstrap@2.5.0/dist/ui-bootstrap-csp.css">

	<script src="https://unpkg.com/angular@1.5.11/angular.min.js"></script>
	<script src="https://unpkg.com/angular-filter@0.5.15/dist/angular-filter.min.js"></script>
	<script src="https://unpkg.com/angular-ui-bootstrap@2.5.0/dist/ui-bootstrap.js"></script>

	<link rel="stylesheet" href="css.css">
	<script src="app.js"></script>
</body>
</html>
